  <div class="dropdown_List">

    <strong>Choose your Size</strong>
    <div class="selectOption">
      <div   class="DisplaySize">Select an Option</div>
      <ul class="chooseList chooseListofSize">
        <li
          type="select_value"
          swatch-option="option1"
          role="option" 
        >
          <label for="option1" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/8x10_inch_print.media?v=1671617652"> <span>8x10 inch print</span></label>
        </li>
        <li
          type="select_value"
          swatch-option="option2"
          role="option" 
        >
          <label for="option2" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/12x16_inch_print.media?v=1671617652"> <span>12x16 inch print</span></label>
        </li>
        <li
          type="select_value"
          swatch-option="option3"
          role="option" 
        >
          <label for="option3" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/16x20_inch_print.media?v=1671691976"><span>16x20 inch print</span></label>
        </li>
        <li
          type="select_value"
          swatch-option="option4"
          role="option" 
        >
          <label for="option4" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/18x24_inch_print.media?v=1671617652"><span>18x24 inch print</span></label>
        </li>
      </ul>
    </div>

    
    <div class="line-item-property__field Select_size" style="display:none;">
      <input id="option1" type="radio" name="properties[Select_Size]" value="8x10 inch print">
      <input id="option2" type="radio" name="properties[Select_Size]" value="12x16 inch print">
      <input id="option3" type="radio" name="properties[Select_Size]" value="16x20 inch print">
      <input id="option4" type="radio" name="properties[Select_Size]" value="18x24 inch print">
    </div>
    
  </div>
