  <div class="dropdown_List">

    <strong>Framing Options</strong>
    <div class="selectOption">
      <div class="DisplayFrame">Select an Option</div>
      <ul class="chooseList chooseListofFrame">
        <li
          type="select_value"
          swatch-option="option5"
          role="option" 
        >  
          <label for="option5" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/Print_only__28unframed_29.media?v=1671691710"> <span>Print Only (Unframed)</span></label>
        </li>
        <li
          type="select_value"
          swatch-option="option6"
          role="option" 
        >
          <label for="option6" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/Premium_White_Frame.media?v=1671691710"><span>Premium White Frame</span></label>
        </li>
        <li
          type="select_value"
          swatch-option="option7"
          role="option" 
        >
          <label for="option7" aria-selected="false"><img src="https://cdn.shopify.com/s/files/1/0597/1715/7014/files/Premium_Black_Frame.media?v=1671691710"><span>Premium Black Frame</span></label>
        </li> 
      </ul>
    </div>

    
    <div class="line-item-property__field Select_Frame" style="display:none;">
      <input id="option5" type="radio" name="properties[Select_Frame]" value="Print Only (Unframed)">
      <input id="option6"   type="radio" name="properties[Select_Frame]" value="Premium White Frame">
      <input id="option7" type="radio" name="properties[Select_Frame]" value="Premium Black Frame"> 
    </div>
    
  </div>
